.characterCard {
    height: 300px;
    width: 200px;
    margin: auto;
    margin-top: 20px;
    padding: 20px;
    text-align: center;
}

.search-form {
    margin: 0 auto;
    width: 30%;
}

.centered {
    color: violet;
}

#RM {
    /* margin-left: 315px; */
    margin-left: 38%;
}
